html{
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  position: relative;
  background: #83a4d4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}




body{
  padding:0px;
  margin:0px;
}


/* Add a black background color to the top navigation */
.nav_menu {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.nav_menu a {

  float: right;
  color: #353e44;
  padding: 16px 46px;
  margin-top: 5px;
  margin-bottom:5px;
  margin-left: 5px;
  margin-right: 47px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}

/* Change the color of links on hover */
.nav_menu a:hover {
  color: white;
  text-shadow: 1px 1px 5px #91cff2;
  border: 2px solid #353e44;
  background-color: #353e44;
  opacity: 0.8;
}

/* Add a color to the active/current link */
.nav_menu a.active {
  border: 2px solid #353e44;
  color: #353e44;
  border-radius: 5px;
}



h1, h2{
  font-family: 'Oswald', sans-serif;
  color: white;
}


p , a{
  font-family: 'Oswald', sans-serif;
}

